.home-section {
    padding: 120px 0;
    display: flex;
}

.home-text,
.home-img {
    width: 50%;
    padding: 15px;
}

.home-text p {
    font-size: 1.8rem;
}
.home-text h1 {
    font-weight: bold;
    font-size: 70px;
    text-transform: capitalize;
}
.home-text h1 span{
    color: #739484;
}
.home-text h2 {
    font-weight: 300;
    font-size: 20px;
    text-transform: capitalize;
    margin: 0 0 30px;
}
.home-text .btn {
    margin: 0  10px 15px 0;
}

.home-img .img-box {
    margin: auto;
}
.home-img .img-box img {
    width: 100%;
}

/* RESPONSIVE  */
@media (max-width: 901px) {
    .home-text,
    .home-img {
        width: 100%;
    }

    .home-text {
        text-align: center;
    }
    .home-text .btn {
        margin: 0 7px 15px;
    }

    .home-img .img-box {
        max-width: 500px;
    }
}

@media (max-width: 767px) {
    .home-img .img-box {
        max-width: 400px;
    }
}

@media (max-width: 575px) {
    .home-text p {
        font-size: 1.5rem;
    }

    .home-text h1 {
        font-size: 30px;
    }
    .home-text h2 {
        font-size: 18px;
    }

    .home-img .img-box {
        max-width: 350px;
    }
}