.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.about-section span {
    color:  #739484;
}

.about-img {
    width: 40%;
    padding: 0 15px;
}
.about-img .img-box {
    max-width: 380px;
    margin: auto;
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    border-radius: 10px;
}
.about-img .img-box img {
    width: 100%;
}

.about-text {
    width: 60%;
    padding: 0 15px;
}
.about-text p {
    font-size: 17px;
    line-height: 180%;
    color: var(--blue-dark);
}

.about-text .btn {
    margin: 10px 15px 15px 0;
}

.card-area-title {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}
.card-area-title h3 {
    font-size: 28px;
    font-weight: 600;
    text-transform: capitalize;
}

.about-section .card-area {
    width: 100%;
}

.about-section .card{
    padding: 1rem;
    width: 15.7rem;
    min-height: 12rem;
    max-width: 100%;
    text-align: center;
    word-wrap: break-word;
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    border-radius: .25rem;
    border: none;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
   
}
.about-section .card .MuiSvgIcon-root{
    margin: 0 auto;
    padding: 5px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--main-color);
    background-color: #6ab8ab;
    font-size: 30px;
}
.about-section .card h5{
    margin: 0 0 8px;
    padding-top: 10px;
    font-size: 16px;
    color: var(--main-color);
}
.about-section .card p{
    padding-top: 10px;
    font-size: 14px;
    color: var(--main-color);
    text-align: center;
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.steps {
    position: relative;
    text-align: center;
}

.steps .step {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: unset;
    /* box-shadow: -2px 5px 10px rgba(0, 0, 0, 0.2); */
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    top: -110px;
    left: 125%;
}

/* RESPONSIVE  */
@media (max-width: 805px) {

}

@media (max-width: 767px) {
    .about-img,
    .about-text {
        width: 100%;
    }

    .about-text {
        margin-top: 30px;
    }

    .about-section .card-area {
        gap: 25px;
    }
    .about-section .col-md-3 {
        max-width: 100%;
        flex: 0 0 100%;
        display: flex;
        align-items: center !important;
        justify-content: center !important;
        
    }

    .about-section .card {
        width: 60%;
    }

    .steps {
        display: none;
    }

}

@media (max-width: 575px) {
    .card-area-title h3 {
        font-size: 22px;
    }
    .about-section .card {
        width: 80%;
    }
}

