.contact-section {
    padding: 120px 0;
    display: flex;
    position: relative;
    overflow: hidden;
}
.contact-section::before {
    position: absolute;
    content: "";
    width: 150%;
    height: 57%;
    background: var(--white-alpha-25);
    transform: rotate(-7deg);
    transform-origin: left top;
    top: 0;
    left:-40% ;
}

.contact-hero {
    margin-bottom: 30px;
}
.contact-text,
.contact-img {
    width: 50%;
    padding: 15px;
}

.contact-text h1{
    font-weight: bold;
    font-size: 55px;
    text-transform: capitalize;
}
.contact-text h1 span{
    color: #4F644F;
}

.contact-text h5 {
    font-weight: 300;
    font-size: 20px;
    margin: 0 0 15px;
}

.contact-img {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-img .img-box {
    margin: auto;

}

/* FORM AND INFORMATION AREA  */
.contact-form,
.contact-info {
    padding: 15px;
}

.contact-form .MuiInputBase-input {
    color: var(--dark-blue);
}

.contact-form .MuiInput-underline:before {
    border-bottom: 1px solid #4F644F;
}
.contact-form .MuiInput-underline:after {
    border-bottom: 2px solid #4F644F;
}

.contactInfo_item {
    line-height: 34px !important;
    font-size: 18px !important;
    color: #4F644F;
}

.contactInfo_item > span {
    color: var(--main-color);
    font-weight: 500;
}

.contactInfo_socialsContainer {
    margin-top: 15px;
}

.contactInfo_social > a > .MuiSvgIcon-root {
    height: 25px;
    width: 25px;
    margin-right: 10px;
    color: var(--main-color);
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    border-radius: .25rem;
}

@media (max-width: 959px) {
    .contact-section::before {
        height: 53%;
    }
}

@media (max-width: 767px) {
    .contact-text,
    .contact-img {
        width: 100%;
    }
}

@media (max-width: 575px) {
    .contact-section::before {
        height: 50%;
    }

    .contact-text h1 {
        font-size: 37px;
    }
}